*.in
/admin/*
!/admin/*.in
!/admin/*.skl
!/admin/*.pl
*.diff
*.log
*.swp
*.bak
*~
aclocal.m4
acinclude.m4
/autom4te.cache
/config.h.in~
/configure
libdreamland/moc/autom4te.cache/
libdreamland/moc/configure
libdreamland/moc/*.h++
/bin
/lib
/share
/var
/core.2*
libexec/plugin.xml
libexec/plugins
